*{
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
	overflow-y: hidden;
}

body {
  font-family: "Bluu Next", "Titling";
  background: #000000;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: scroll;
}

@font-face {
  font-family: "Bluu Next Titling";
  src: url("assets/BluuNext.otf");
}

@font-face {
  font-family: "Simsun Regular";
  src: url("assets/simsun.ttf");
}


.p-page {
  position: relative;
  height:100vh;
  width: 100vw;
  top:0;
  margin:0;
  padding:0;
  float:centre;
  overflow: scroll;
}

/* GIFF HERE */
img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
}

.p-giff-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 10vw;
  width: 10vw;
  right: 20vw;
  top: 13vw;
  overflow: hidden;
  index: 2;
  display: flex;
  align-items: center;
}

.p-giff-container-2 {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 6vw;
  width: 6vw;
  right: 12vw;
  top: 18vw;
  overflow: hidden;
  index: 2;
  display: flex;
  align-items: center;
}

.p-giff-container-3 {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 12vw;
  width: 12vw;
  right: 12vw;
  top: 24vw;
  overflow: hidden;
  index: 2;
  display: flex;
  align-items: center;
}

.p-giff-container-4 {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 4vw;
  width: 4vw;
  right: 15.5vw;
  top: 14vw;
  overflow: hidden;
  index: 2;
  display: flex;
  align-items: center;
}
/* GIFF ends */

/* :HOVERS FOR LINKS TO PROJECTS */
a {
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
  text-decoration: none;
  color: #0000FF;
  font-weight: bold;
}

a:hover {
  color: red;
  text-decoration: none;
}

.p-portfolio-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 4vw;
  width: 35vw;
  left: 3.5vw;
  top: 2vw;
  overflow: hidden;
}

.p-portfolio {
  text-decoration: none;
  color: #0000FF;
  font-size: 3vw;
  text-align: justify;
}

.p-portfolio-2-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 4vw;
  width: 35vw;
  left: 36vw;
  top: 3.9vw;
  overflow: hidden;
}

.p-portfolio-2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #0000FF;
  font-size: 1vw;
  text-align: justify;
}

.p-pm-container {
  text-decoration: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 10vw;
  overflow: hidden;
}

.p-pm {
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.p-ne-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 12vw;
  overflow: hidden;
}

.p-ne {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-visual-e-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 14vw;
  overflow: hidden;
}

.p-visual-e {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-lmn-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 16vw;
  overflow: hidden;
}

.p-lmn {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-hoops-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 18vw;
  overflow: hidden;
}

.p-hoops {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-con-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 20vw;
  overflow: hidden;
}

.p-con {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-info-g-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 22vw;
  overflow: hidden;
}

.p-info-g {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-cultural-h-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 24vw;
  overflow: hidden;
}

.p-cultural-h {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-art-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 26vw;
  overflow: hidden;
}

.p-art {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-visuals-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 30vw;
  overflow: hidden;
}

.p-visuals {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}

.p-cover-art-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 1.7vw;
  width: 15vw;
  left: 3.5vw;
  top: 32vw;
  overflow: hidden;
}

.p-cover-art {
  letter-spacing: 0.1em;
  font-family: "Bluu Next", "Titling";
  font-size: 1.2vw;
}





/* CONTACT (EMAIL) AND INSTAGRAM */
.p-contact-container {
  position: fixed;
  margin: 0px;
  padding: 2px;
  height: 1.7vw;
  width: 19vw;
  left: 3.5vw;
  bottom: 5vw;
  overflow: hidden;
}

.p-contact {
  text-decoration: none;
  color: #0000FF;
  font-size: 1.2vw;
  letter-spacing: 0.1em;
  text-align: justify;
  font-weight: bold;
}

.p-click-container {
  position: fixed;
  margin: 0px;
  padding: 2px;
  height: 2vw;
  width: 11.5vw;
  left: 3.5vw;
  bottom: 3vw;
  overflow: hidden;
}

.p-click {
  letter-spacing: 0.1em;
  text-decoration: underline;
}
